      <h2>{{ page.contact.headline }}</h2>
      <p>{{ page.contact.text }}</p>
      <p><small>* required for a free quote</small></p>
      <form action="https://formspree.io/cbillings@reconhomeinspectors.com" method="POST">
        <label for="name">
          Name
        </label>
        <input type="text" name="name">

        <label for="_replyto">
          Email address
        </label>
        <input type="email" name="_replyto">

        <label for="phone">
          *Phone number
        </label>
        <input type="tel" name="phone">

        <label for="address">
          *Property address
        </label>
        <input type="text" name="address">

        <label for="sqft">
          *Property square footage
        </label>
        <input type="number" name="sqft">

        <label for="additional">
          *Additional features to be inspected (pools, outbuildings)
        </label>
        <input type="text" name="additional">

        <label for="msg">
          Your message
        </label>
        <textarea name="msg" rows="10"></textarea>

        <input type="submit" value="Send message">
      </form>

