<link href="https://fonts.googleapis.com/css?family=Bungee|Noto+Serif+SC" rel="stylesheet">
<link href="https://unpkg.com/basscss@8.0.2/css/basscss.min.css" rel="stylesheet">
<link rel="stylesheet" href="{{ "/assets/css/recon.css" | relative_url }}?{{site.time | date: '%s%N'}}">
<header class="site-header">

  <div class="wrapper">
    {%- assign default_paths = site.pages | map: "path" -%}
    {%- assign page_paths = site.header_pages | default: default_paths -%}
    {%- assign titles_size = site.pages | map: 'title' | join: '' | size -%}
  <div class="logo">
    <img src="{{ "/assets/recon-logo.png" | relative_url }}" />
    <a class="site-title" rel="author" href="{{ "/" | relative_url }}">
      <h1>Recon <span>Home Inspectors</span></h1>
    </a>
  </div>

    {%- if titles_size > 0 -%}
      <nav class="site-nav">
        {%- for path in page_paths -%}
          {%- assign my_page = site.pages | where: "path", path | first -%}
          {%- if my_page.title -%}
          <a class="page-link" href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a>
          {%- endif -%}
        {%- endfor -%}
      </nav>
    {%- endif -%}
  </div>
</header>
