<header class="site-header">
  <div class="wrapper">
    {%- assign default_paths = site.pages | map: "path" -%}
    {%- assign page_paths = site.header_pages | default: default_paths -%}
    {%- assign titles_size = site.pages | map: 'title' | join: '' | size -%}
  <div class="logo">
    <img src="{{ "/assets/recon-logo.png" | relative_url }}" />
    <a class="site-title" rel="author" href="{{ "/" | relative_url }}">
      <h1>Recon <span>Home Inspectors</span></h1>
    </a>
  </div>

    <nav class="site-nav">
      {%- if titles_size > 0 -%}
        {%- for path in page_paths -%}
          {%- assign my_page = site.pages | where: "path", path | first -%}
          {%- if my_page.title -%}
          <a class="page-link" href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a>
          {%- endif -%}
        {%- endfor -%}
      {%- endif -%}
      <ul class="social-links">
        <li>
          <a href="https://www.instagram.com/reconhomeinspectors/" title="Visit Recon on Instagram">
            <i class="fab fa-instagram"></i>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>
