$text-color: #342D2B;
$brand-color: #F35827;
$text-color-gray: #625550;

body {
  font-size: 16px;
  font-family: "Noto Serif SC", serif;
  color: $text-color;
}

h1, h2, h3, h4 {
  font-family: "Bungee", Arial, sans-serif;
  color: $text-color-gray;
}

p {
  font-size: 18px;
  max-width: 600px;
}

a {
  text-decoration: underline;
}

label {
  display: block;
  font-size: 14px;
  font-family: Arial, sans-serif;
  font-weight: bold;
  margin-top: 10px;
  color: $text-color-gray;
}

.logo {
  margin-bottom: 40px;
  padding-top: 20px;
  padding-bottom: 10px;
}

.logo img {
  width: 100px;
  float: left;
  margin-right: 20px;
}

.logo h1 {
  color: $brand-color;
  font-size: 60px;
  line-height: 1;
}

.logo h1 span {
  display: block;
  font-size: 22px;
}

.logo a {
  text-decoration: none;
}

.social-links {
  font-size: 30px;
  float: right;
  li {
    list-style: none;
    display: inline-block;
  }
}

.badge {
  width: 80%;
}

.badge-link {
  display: inline-block;
}

.paragraph-small {
  font-size: 14px;
  font-weight: bold;
  font-family: Arial, sans-serif;
  line-height: 1.2;
}

.contrast-section {
  padding: 20px;
  background-color: #F8F5F3;
  border-top: 2px solid $brand-color;
}

input,
textarea {
  border-style: solid;
  border-radius: 5px;
  border-width: 1px;
  border-color: #978D89;
  font-size: 18px;
  padding: 10px;
  width: 50%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

input[type="submit"] {
  display: block;
  background-color: $brand-color;
  border-color: #B33F1B;
  color: white;
  font-weight: bold;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

input[type="submit"]:hover {
  cursor: pointer;
}

input[type="submit"]:focus {
  background-color: #B33F1B;
}

/* training badges */

.training {
  border-width: 2px;
  border-style: solid;
  border-color: #222;
  text-align: center;
  padding: 0 10px;
  height: 100%;
}

.training img {
  width: 140px;
  position: relative;
  top: -40px;
  background-color: #fff;
  padding: 0 5px;
}

.training p {
  font-size: 0.8rem;
}

.training.roof-inspector {
  border-color: #B86E20;
}

.training.electrical-inspector {
  border-color: #BD8B22;
}

.training.structureandfoundation-inspector {
  border-color: #FCC70D;
}

/* Minima overrides */

.site-header {
  border-top-color: $text-color-gray;
  border-bottom-color: #F8F5F3;
}
