---
layout: default
---
<div class="wrapper">
  <div class="clearfix">
    <div class="col col-8">
      {{ content }}
    </div>

    <div class="col col-4 px3 center">
      {%- for badge in page.badges -%}
        {%- if badge.href -%}
          <a class="badge-link" href="{{ badge.href }}">
        {%- endif -%}
          <img class="badge" src="{{ badge.img | relative_url}}" alt="{{ badge.alt }}">
        {%- if badge.href -%}
          <p class="paragraph-small">{{ badge.text }}</p>
          </a>
        {%- endif -%}
      {%- endfor -%}
    </div>
  </div>
</div><!-- .wrapper -->

<div class="clearfix contrast-section mt3">
  <div class="wrapper">
  {%- include contact.html -%}
  </div>
</div>

<div class="wrapper mt4">
  {%- if page.trainings.length | modulo: 2 == 0 -%}
    {%- assign cols="col-6" -%}
  {%- else -%}
    {%- assign cols="col-4" -%}
  {%- endif -%}
  {%- for training in page.trainings -%}
  <div class="col {{ cols }} training {{ training.slug | relative_url }}">
    <img src="{{ training.img }}" alt="{{ training.text }}"/>
    <p>{{ training.text }}</p>
  </div>
  {%- endfor -%}
</div>
