---
layout: default
---
  <div class="clearfix">
    <div class="col col-8">
      <h2>Serving the Greater Fresno area</h2>
      <p>We are proud to provide home inspections to the Greater Fresno area, including foothill and mountain
      communities such as Coarsegold, Prather, and Squaw Valley. With more than 14 years of experience managing, maintaining, and appraising properties in
      the Fresno area, it is our goal to exceed all of your home inspection expectations. We use state-of-the-art
      equipment to examine your home from top to bottom and from the inside out.</p>
      <p>Because real estate transactions often happen very fast and rely on quick home inspections,
      we are available for inspections at your convenience (including weekends and holidays). When
      you are ready to purchase a new home, let Recon Home Inspectors help you complete a speedy transaction.</p>
    </div>
    <div class="col col-4 px3 center">
      {%- for badge in site.badges -%}
        {%- if badge.href -%}
          <a class="badge-link" href="{{ badge.href }}">
        {%- endif -%}
          <img class="badge" src="{{ badge.img | relative_url}}" alt="{{ badge.alt }}">
        {%- if badge.href -%}
          <p class="paragraph-small">{{ badge.text }}</p>
          </a>
        {%- endif -%}
      {%- endfor -%}
    </div>

    </div>
  </div>
</div><!-- .wrapper -->
<div class="clearfix contrast-section">
  <div class="wrapper">
      <h2>Contact us</h2>
      <p>Have a question or want to schedule an inspection? Send us a note!</h2>
      <form action="https://formspree.io/cbillings@reconhomeinspectors.com" method="POST">
        <label for="name">
          Name
        </label>
        <input type="text" name="name">

        <label for="_replyto">
          Email address
        </label>
        <input type="email" name="_replyto">

        <label for="phone">
          Phone number
        </label>
        <input type="tel" name="phone">
        <label for="msg">
          Your message
        </label>
        <textarea name="msg" rows="10"></textarea>

        <input type="submit" value="Send message">
      </form>
  </div>
